
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>About-CoverMyGas</title>
 
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="{{url_for( 'static',filename='vendor/nucleo/css/nucleo.css' )}}" type="text/css">
  <link rel="stylesheet" href="{{url_for('static',filename='vendor/@fortawesome/fontawesome-free/css/all.min.css')}}" type="text/css">
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/argon.css')}}" type="text/css">
</head>

<body class="bg-default">
  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
    <div class="container">
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="dashboard">
                <img src="{{url_for('static',filename='/img/brand/blue.png')}}">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a href="{{url_for('about')}}" class="nav-link">
              <span class="nav-link-inner--text">About the Product</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('team')}}" class="nav-link">
              <span class="nav-link-inner--text">Team</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('sell')}}" class="nav-link">
              <span class="nav-link-inner--text">Buy NFT</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('sell')}}" class="nav-link">
              <span class="nav-link-inner--text">Sell NFT</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
              <a class="nav-link nav-link-icon" href="{{url_for('home')}}">
                <img src=" {{url_for('static',filename='img/brand/eth.png')}}" style="width:2em;height:2em";>
                 Cover my Gas
                </a>
          </li>
        
        
      </div>
    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">About The Product</h1>
              <!-- <p class="text-lead text-white">Use these awesome forms to login or create new account in your project for free.</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--9 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-12 col-md-8">
          <div class="card bg-secondary border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-center mt-2 mb-4"><h2>Problem Statement</h2></div>
              <div class ="text-center text-muted mb-4">Gas is Expensive!
                Ethereum, one of the most active and innovative blockchains, is plagued with the cost of using it.
                
                This significantly reduces the User experience if you’re trading assets, especially if it eats your profits.
                
                We aim to solve this issue by using the GSN’s paymaster approach in an escrow, which will allow us to transfer all gas fee to the buyer of the asset.
                </div>
              
            </div>
            <div class="card-header bg-transparent pb-5">
              <div class="text-center mt-2 mb-4"><h2>Objectives</h2></div>
              <div class ="text-center text-muted mb-4">
                Develop a secure smart contract to provide escrow services for NFT buyers and sellers.<br>
                Provide the ability to lock the ether as an escrow and transfer the NFT to the buyer via the smart contract.<br>                
                Ensure the seller does not pay the gas fee in the process, which is added onto the cost to be borne by the buyer.<br>
            </div>
            </div>
            <div class="card-header bg-transparent pb-5">
              <div class="text-center mt-2 mb-4"><h2>Methodology
              </h2></div>
              <div class ="text-center text-muted mb-4">
                This DApp employs the foundations laid down by escrow contracts, and builds on top of them.<br>
The buyer first locks ether in the smart contract to cover the NFT cost as well as the gas fee.<br>
The NFT is then transferred from the seller to the buyer, and the fee paid by the contract.<br>

            </div>
            </div>
            <div class="card-header bg-transparent pb-5">
              <div class="text-center mt-2 mb-4"><h2>Softwares Used
              </h2></div>
              <div class ="text-center text-muted mb-4">
                Solidity,Truffle Suite,Ganache,Hardhat,OpenGSN Paymasters
            </div>
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->

  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="{{url_for('static',filename='vendor/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/js-cookie/js.cookie.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/jquery.scrollbar/jquery.scrollbar.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js')}}"></script>
  <!-- Argon JS -->
  <script src="{{url_for('static',filename='js/argon.js?v=1.2.0')}}"></script>
</body>

</html>